.list {
  list-style-type: none;
  justify-content: center;
  display: flex;
  gap: 20px;
  border-top: 1px solid var(--textColor);
  border-bottom: 1px solid var(--textColor);
  margin-bottom: 30px;
  /* max-width: 830px; */
}

.listItem {
  padding: 8px;
  /* box-shadow: var(--shadow); */
  transition: transform 0.25s;
  border-radius: 5px;
}

/* .listItem:hover,
  .listItem:focus {
    transform: scale(1.05);
  } */

.active {
  text-decoration: underline;
}

.link {
  display: inline-block;
  /* padding: 5px; */
  background-color: transparent;
  margin: 0 auto;
  transition: scale 0.25s;
}

.link:hover,
.link:focus {
  scale: 1.05;
}
