.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--sectionColors);
  height: 50px;
  margin-bottom: 20px;
}
.logoContainer {
  display: flex;
  align-items: center;
}
.logo {
  width: 20px;
}
.logoText {
  color: var(--textColor);
  height: 24px;
  font-weight: 600;
}
.active {
  background-color: var(--elementsColor);
  color: var(--textColor);
}
.list {
  display: flex;
  gap: 20px;
  list-style-type: none;
}
.listItem {
  padding: 5px;
}
