.photo {
  width: 145px;
}
.name {
  text-align: center;
  margin-bottom: 2px;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 130px;
}

@media screen and (min-width: 768px) {
  .photo {
    width: 150px;
  }
}
